<!-----


This is a UI component that displays a colorbar, as part of the legend.
The colorbar has a color gradient and numeric labels.


--- -->
<div id="colorbar"></div>

<script>
import { getPaletteAsGradient, getColorStopsShort } from '../scripts/palette';
import * as d3 from 'd3';
// Listen for the changes to palette or source
document.addEventListener('newpalette', updateColorbar);
document.addEventListener('newsource', updateColorbar);


/*
  Update the colorbar part of the legend to show the correct palette and value stops.
  This is called when the palette or source changes.
*/
function updateColorbar() {

  const colorbar = document.getElementById('colorbar');
  if (!colorbar) return;

  colorbar.innerHTML = '';

  const palette = localStorage.getItem('palette');
  colorbar.style.display = (palette=='rgb') ? 'none' : 'flex';
  if (palette=='rgb') return;
  const {stops} = getColorStopsShort();

  for (const value of stops){
    const div = document.createElement('div');
    // Creat a label that shows three significant digits
    try {
    const label = value.toPrecision(3);
    div.innerHTML = label;
    colorbar.appendChild(div);
    } catch (e) {
      console.log(`Error in updateColorbar. E=`,e);
      console.log(`Error in updateColorbar. value`,value);
      console.log(`Error in updateColorbar. stops`,stops);
    }
    
  }
  colorbar.style.background = getPaletteAsGradient();
  return;

}





</script>
<style>

#colorbar {
  width: 400px;
  max-width: 100%;
  height: 5px;
  background: red;
  border-radius: 5px;
  background-color: red;
  backdrop-filter: blur(5px);
  box-shadow: 2px 2px 7px gray;
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: darkslategray;
  background-color: darkgray;
  font-size: 0.8em;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  div {
    mix-blend-mode: difference;
    font-size: 1em;
    color: white;
  }
}


@media (max-width: 40rem) {
  #colorbar {
    width: 90%;
  }
}
</style>