
---

---
<style>

#projectlogo {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
    width: 100px;
    height: 100px;
    background-image: url('/fairicube_logo_400x297.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* Set white as transparent */
    mix-blend-mode: multiply;
    border-radius: 5px;
  }
</style>

<div id="projectlogo"></div>
